* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  
  font-family: 'Cabin', sans-serif;
  background-color: #000;
  color: rgb(227, 219, 219);

  background-image: url('https://stackblitz.com/storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMjFzQ3c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--9cd48a290819bc7a9edbc7cf636a4f94b296b4b4/background%20picture.png');
  background-repeat: no-repeat; 
  
  background-position:center top 100px; 
  background-size: 100% 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}
.top
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #121921;
    padding: 10px 20px;
    color: #fff;
    height:5rem;
    font-size: 10px;
}

#location {
  display: flex;
  align-items: center;
  color: #fff; 
}

#location img {
  width: 1cm; 
  height: auto; 
}
#location h3 {
  margin: 10px;
}

.search-bar {
  display: flex;
  align-items: center;
  flex: 1; 
  margin-left: 20px; 
}

.search-bar input[type="text"] {
  flex: 1; 
  margin-right: 10px;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

.toggle-button {
  display: none; /* Initially hide */
}
#top-nav {
  /* display: none; */
  top: 70px; 
  width: 100%;
  background-color:#243040; 
  box-sizing: border-box; 
  z-index: 1000; 
  height: 3rem;   

}

#top-nav ul {
  list-style-type: none; 
  padding: 0;
  margin: 0;
  display: flex; 
  justify-content: center;
}

#top-nav ul li {
  padding: 1px 5px; 
  color: #fff;
  font-weight: bold; 
}

#top-nav ul li:hover {
  background-color: #00050b; 
}

#sign-in, #prime-day {
  display: flex; 
  align-items: center; 
}

#sign-in p, #prime-day p {
  margin: 0 2px; 
}

#prime-day img {
  height: 40px; 
  margin-right: 10px; 
}

#prime-day {
  display: flex;
  align-items: center;
}

.products {
  margin-top: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Align sections horizontally */
}

.section {
  width: 48%; 
  margin-bottom: 20px; 
  background-color: #f9f9f9; 
  padding: 5px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

.section h3 {
  margin-bottom: 10px; color: black;
}
.section p{
  color: black;
}
.section .images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}

.section .images .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}

.section .images .row .column {
  width: 48%; 
  margin-bottom: 5px; 
}

.section .images img {
  width: 100%; 
  height: auto; 
}

#button {
  background-color: #ffd700; 
  padding: 10px 20px; 
  border-radius: 5px;
  color:#000;
  display: inline-block;
  cursor: pointer;
}

/* Media queries */
@media screen and (max-width: 700px) {

  /* Show the hamburger menu */
  .toggle-button {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
  }

  #top-nav ul {
    display: none;
    background-color: #243040; 
    position: absolute;
    top: 3rem; 
    left: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  #top-nav ul li {
    padding: 10px 0;
    width: 100%;
    text-align: center;
  }

  #top-nav ul.active {
    display: flex;
  }

  .top {
      flex-direction: column; 
      align-items: center;
      height: auto;
  }

  .search-bar {
      margin: 10px 0; 
  }

  #top-nav {
      display: flex; 
      
  }

  .products .section {
      width: 100%; }
}